@using  StudentskiDom.Web.Areas.StudentModul.ViewModels
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_LayoutStudentModul.cshtml";
}
@model UplateIndexVM
	<ol class="breadcrumb">
		<li>
			<a href="/StudentModul" class="breadcrumb-item" style="color:cadetblue;font-size:x-large;text-decoration:none"></a>
		</li>

	</ol>
	<hr />
	<div>
		<h2 style="display:inline-block">Vaše uplate</h2><a href="/StudentModul" class="btn btn-primary" style="float:right;margin-right:10px">Nazad</a>
	</div>
	<hr />

	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> Tabela uplata
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" cellspacing="0">
					<thead>
						<tr>
							<th>Mjesec</th>
							<th>Datum</th>
							<th>Iznos</th>
							<th>Tip uplate</th>
							<th>Evidentirao</th>

						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Mjesec</th>
							<th>Datum</th>
							<th>Iznos</th>
							<th>Tip uplate</th>
							<th>Evidentirao</th>
						</tr>
					</tfoot>
					<tbody>


						@foreach (var item in Model.Rows)
			{
				<tr><td>@Model.Mjeseci[item.Month - 1]</td><td>@item.Datum</td><td>@item.Iznos</td><td>@item.TipUplate</td><td>@item.zaposlenik</td></tr>

}
					</tbody>

				</table>
				<div style="background-color:aliceblue;margin-bottom:10px;padding-left:5px;padding-bottom:5px;padding-right:10px;">
					

					<p style="font-size:larger"><b>Napomena</b></p>
					<hr />
					<p>Ukoliko smatrate da vaše uplate nisu ispravno evidentirane, što prije se obratite na rececpciji studentskog doma!</p>
					

				</div>
			</div>
		</div>
	</div>