@using StudentskiDom.Web.Areas.RecepcionerModul.ViewModels

@{
	ViewData["Title"] = "DodajUSobu";
	Layout = "~/Views/Shared/_Layout-novi2.cshtml";
}
@model StudentiDodajUSobuVM
	<ol class="breadcrumb">
		<li>
			<a href="/RecepcionerModul" class="breadcrumb-item" style="color:cadetblue;font-size:x-large;text-decoration:none">Modul recepcioner</a>
		</li>

	</ol>
	<hr />
	<div>
		<h2 style="display:inline-block">Dodavanje studenta u sobu</h2><a href="/RecepcionerModul/Studenti" class="btn btn-primary" style="float:right;margin-right:10px">Ponisti</a>
	</div>
	<hr />
	<form asp-area="RecepcionerModul" asp-controller="Studenti" asp-action="SnimiDodavanjeUSobu">
		<div class="col-md-6">
			<label>Student</label>
			<input type="text" readonly value=" @Model.ImeiPrezime" style="border:none" class="form-control" />
			<input type="text" hidden asp-for="@Model.StudentId" style="border:none" class="form-control" />

		</div>
		<div class="form-group">

			<label>
				Dodaj u sobu:
			</label>
			<select asp-for="@Model.SlobodnaSobaId" asp-items="@Model.SlobodneSobe" class="form-control"></select>
		</div>
		@*<div class="form-group">

				<label>
					Dodavanje izvršio:
				</label>
				<select asp-for="@Model.ZaposlnikID" asp-items="@Model.Zaposlenici" class="form-control"></select>
			</div>*@
		<div>

			<input type="submit" value="Snimi" class="btn btn-primary " />
		</div>

	</form>